.custom-button {
    margin-left: 5px;
}

#employees, #bicycles, #reservations {
    display: none;
}
.borders div{
    border-top-style: groove;
}
.borders div > div{
    border:0;
}
 #btn{
     padding-top: 31px;
 }
 #date-selection-part{
     background: ghostwhite;
 }

 #data-select {
     padding: 10pt;
 }
 #data-select-button {
     padding-left: 5pt;
 }